---
layout: layouts/base.njk
templateClass: home
---
<header role="banner">
  <div class="l-container">
    <h1>The podcast for independent founders, entrepreneurs and product leaders</h1>
    <p>Found It! is a podcast all about founders and leaders of small, independent startups. We tell their against-all-odds tales, giving a voice to the thousands of visionaries build great products.</p>
  </div>
</header>