---
layout: layouts/base.njk
templateClass: team
---
<header role="banner">
  <div class="l-container">
    <h1>Team</h1>    
  </div>
</header>
<section>
  <div class="l-container">    
    <article class="host">
      <img src="/static/img/host-martin-s.png" srcset="/static/img/host-martin-s@2x.png 2x" loading="lazy" alt="Martin" />
      <h3>Martin Sandhu</h3>
      <span>Co-host</span>        
      <p>I run nuom, a digital product and service design partner that delivers huge value for startups, scale-ups, enterprises & beyond. I’m a digital product nut who loves working agile and collaboratively with founders & product teams on innovative new digital businesses.</p>        
      <ul class="host--social">
        <li>
          <a href="#">
            {% include 'linkedin.svg' %}
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#">
            {% include 'mail.svg' %}
            <span>Email</span>
          </a>
        </li>
      </ul>
    </article>
    <article class="host">
      <img src="/static/img/host-rob.png" srcset="/static/img/host-rob@2x.png 2x" loading="lazy" alt="Rob" />
      <h3>Rob Hough</h3>
      <span>Co-host</span>        
      <p>I'm Head of UX at nuom. I've been designing and building products for money for over 6 years. Some of those may be brands you've heard of like Waitrose, Hillarys, JEGI and others. Some of them are one or two person start-ups who operate from a boat on the Thames (true story).</p>
      <ul class="host--social">
        <li>
          <a href="#">
            {% include 'linkedin.svg' %}
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#">
            {% include 'mail.svg' %}
            <span>Email</span>
          </a>
        </li>
      </ul>
    </article>
    <article class="host">
      <img src="/static/img/host-martin-l.jpeg" loading="lazy" alt="Martin L" />
      <h3>Martin Lewandowski</h3>
      <span>Tech/Production</span>        
      <p>I've been designing and building products for money for over 6 years. Some of those may be brands you've heard of like Waitrose, Hillarys, JEGI and others. Some of them are one or two person start-ups who operate from a boat on the Thames (true story).</p>
      <ul class="host--social">
        <li>
          <a href="#">
            {% include 'linkedin.svg' %}
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="#">
            {% include 'mail.svg' %}
            <span>Email</span>
          </a>
        </li>
      </ul>
    </article>    
  </div><!-- container -->
</section>