
@font-face {
    font-family:"Gilroy-Regular";
    src:url("Gilroy-Regular.woff2") format("woff2"),url("Gilroy-Regular.woff") format("woff"),url("Gilroy-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        