
@font-face {
    font-family:"Syne Bold";
    src:url("Syne-Bold.woff2") format("woff2"),url("Syne-Bold.woff") format("woff"),url("Syne-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        