---
layout: layouts/base.njk
templateClass: page
---
<div class="l-container">  
  <div class="l-inner">
    <section class="section-pt">      
      <h1>{{ title }}</h1>
      <a href="{{linkToAnchor}}">Listen to episode</a>
      <section class="page-content">
        {{ content | safe }}
      </section>
    </section>
  </div>
</div>